server:
  port: 8081

spring:
  application:
    name: cliente-ms
  r2dbc:
    url: r2dbc:h2:mem:///clientedb?options=DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;
    username: sa
    password:
  sql:
    init:
      platform: h2
      schema-locations: classpath:schema.sql
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

